container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true

  02_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations "
    leader_only: true

  03_createsuperuser:
      command: "source /opt/python/run/venv/bin/activate && python manage.py createsuperuser"
      leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic "



option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: tweetme2.settings